
/* LIST VIEW */
.list-view {
	-fx-background-color: #4d4d4d;
}

/* LIST CELLS */
.list-cell {
	-fx-background-color: #404040;
	-fx-text-fill: white;
}

.list-cell:odd {
	-fx-background-color: #4d4d4d;
	-fx-text-fill: white;
}

.list-cell:hover {
	-fx-background-color: #039ED3;
}

.list-cell:selected {
	-fx-background-color: #0397c9;
}

/* MENUBAR */
.menu-bar {
	-fx-background-color: #333333;
}

/* MENU */
.menu .label{
	-fx-text-fill: white;
}

.menu:hover {
	-fx-background-color: #039ED3;
}

/* MENU ITEMS */
.menu-item {
	-fx-background-color: #333333;
}

.context-menu {
	-fx-background-color: #333333;
	-fx-padding: 0px;
}

.menu-item:hover {
	-fx-background-color: #039ED3;
}

/* TEXT AREA */
.text-area:focused .content {
	-fx-background-color: white;
}

.text-area .content {
	-fx-background-color: #f7f7f7;
}